<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>This Is Heroku Awesome!</h1>
	</div>
</div>

<div class="container text-center">
		<p>
        <a href="http://marvinmessenzehl.com" target="_blank" style="margin-right: 1em"><i class="fa fa-home fa-2x" aria-hidde="true"></i></a>
        <a href="https://github.com/yOoMarvin" target="_blank" style="margin-right: 1em"><i class="fa fa-github fa-2x" aria-hidde="true"></i></a>
        <a href="https://www.twitter.com/yOoMarvin" target="_blank" style="margin-right: 1em"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/yoomarvin/" target="_blank" style="margin-right: 1em"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.behance.net/marvinmess1d82" target="_blank" style="margin-right: 1em"><i class="fa fa-behance fa-2x" aria-hidden="true"></i></a>
        <a href="https://soundcloud.com/keefae" target="_blank" style="margin-right: 1em"><i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i></a>
        <a href="https://play.spotify.com/user/yoomarvin" target="_blank" style="margin-right: 1em"><i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.xing.com/profile/Marvin_Messenzehl" target="_blank" style="margin-right: 1em"><i class="fa fa-xing fa-2x" aria-hidden="true"></i></a>
      </p>
	</div>
	
</body>
</html>